<div id="fit_contents_below_menu">
  <div class="hero" style="width: auto;">
    <div class="hero-head">
      <div class="level fixed-sub-element-title has-text-centered">
        <span class="level-item heading is-size-4 has-text-white">All Venues</span>
      </div>
      <div class="level fixed-sub-element-details has-text-centered has-text-white">
        <span class="level-item has-text-white">&nbsp;</span>
      </div>
    </div>
    <div class="hero-body">
      <% @venues.each do |venue| %>
        <div class="box">
          <nav class="level is-outlined">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Venue</p>
                <p class="title is-spaced has-text-black"><%= link_to venue.name.titleize, venue %></p>
                <p class="subtitle">Events: <%= venue.events.count %></p>
              </div>
            </div>
          </nav>
        </div>
        <% end %>
    </div>
  </div>
