
<div id="fit_contents_below_menu">
  <div class="hero" style="width: 100%">
    <div class="hero-head">
      <div class="level fixed-sub-element has-text-centered has-text-white">
        <% @neighborhoods.each do |hood| %>
          <div class="level-item has-text-white">
            <div>
              <!-- <%= link_to hood.name, hood, class:"heading has-text-white" %> -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="hero-body">
      <% @neighborhoods.each do |neighborhood| %>
        <div class="box">
          <nav class="level is-outlined">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Neighborhood</p>
                <p class="title is-spaced has-text-black"><%= link_to neighborhood.name.titleize, neighborhood %></p>
                <p class="subtitle">Venues: <%= neighborhood.venues.count %></p>
              </div>
            </div>
          </nav>
        </div>
      <% end %>
    </div>
  </div>
</div>