// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avg_wait_time {
  background: linear-gradient(0deg, rgb(219, 219, 219), rgb(255, 255, 255) 75%)
}

@media screen{
  .wide_button {
    width: 20vw;
  }
}

@media screen {
  #view_page_container {
    display: flex;
    overflow-y: auto;
    padding: 1em;
    align-items: center;
    justify-content: center;
    top: 3em;
    width: 100vw;
    height: calc(100vh - 3em);
  }
  #view_form_box {
    display: flex;
    flex-direction: column;
    min-width: 40vw;
    max-height: 50vh;
  }
}