/*
#fit_contents_below_menu {
  margin-top: 3em;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}
@media screen {
  #view_page_container {
    display: flex;
    overflow-y: auto;
    padding: 1em;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%
  }
  #view_form_box {
    display: flex;
    flex-direction: column;
  }
}
*/